body {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

h1 {
  color: #8B0000;
  font-size: 40px;
  margin-top: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 0;
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-color: #8B0000;
}



button,
.feedback input[type="submit"] {
  background-color: black;
  color: white;
  border-color: #8B0000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  margin-left: 35px;
}

button:hover,
.feedback input[type="submit"]:hover {
  background-color: #581919;
}

.info {
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 35px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

.section {
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer button {
  margin: 0 300px;
}

.footer button:first-child {
  margin-right: 20px;
}


.container2 {
  text-align: center;
}

.line {
  border: none;
  border-top: 1px solid white;
  width: 94%;
  padding-bottom: 40px;
}

.container3 {
  text-align: center;
}

.line {
  border: none;
  border-top: 1px solid white;
  width: 99%;
  padding-bottom: 40px;
}
